//------------------------------------------------------------------
// Type Preview
//------------------------------------------------------------------

.typeSettingsOpen {
  #type {
    padding-left: 300px;
  }
  #typeSettings {
    transform: translateX(0);
  }
}

#type {
  transition: all 333ms ease;
}

#typeSettings {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  transform: translateX(-100%);
  transition: all 333ms ease;
  z-index: 99999999;

  * {
    box-sizing: border-box;
  }

  .js-toggle-type-settings {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 30px;
    top: 0;
    height: 30px;
    background-color: #377cff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: white;
      }
    }
  }

  .type {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    top: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0.125rem 9.375rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.5rem rgba(90, 97, 105, 0.12),
      0 0.9375rem 1.375rem rgba(90, 97, 105, 0.1), 0 0.4375rem 2.1875rem rgba(165, 182, 201, 0.1);

    * {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
      font-weight: normal !important;
    }

    &__scroll {
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      // overflow: auto;
      position: fixed;
      top: 40px;
      bottom: 0;

      &::-webkit-scrollbar-track {
        background-color: #ebebeb;
      }

      &::-webkit-scrollbar {
        width: 3px;
        background-color: #ebebeb;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #377cff;
      }
    }

    &__colour {
      position: realtive;
      width: 50%;

      label {
        position: absolute;
        font-size: 8px;
        font-weight: bold !important;
        top: 12px;
        left: 20px;
        color: #377cff;
      }

      &__item {
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        padding: 10px;
        position: relative;

        &__input {
          margin: 0;
          width: 100%;
          outline: 0;
          height: auto;
          border: 0;
          background: transparent;
          border: 1px solid #d5d8dd;
          border-radius: 0;
          display: block;
          margin: 0;
          font-size: 14px;
          padding: 20px 10px 10px 10px;
          color: #19191a;
          transition: all 111ms ease;
          line-height: 17px !important;
        }

        &__colour {
          border: 2px solid white;
          display: block;
          position: absolute;
          cursor: pointer;
          outline: 1px solid #ddd;
          right: 18px;
          width: 26px;
          height: 26px;
          bottom: 18px;
          $size: 10px;

          background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
            linear-gradient(135deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%),
            linear-gradient(135deg, transparent 75%, #ccc 75%);
          background-size: $size / 2 $size / 2;
          background-position: 0 0, $size / 4 0, $size / 4 $size / -4, 0px $size / 4;

          &__swatch {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: 0 !important;
            bottom: 0;
          }
        }
      }
    }

    &__header {
      padding: 15px 10px;

      svg {
        width: 36px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;

        path {
          fill: #333;
        }
      }

      h5 {
        color: #333;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__item {
      width: 100%;
      border-bottom: 1px solid #ebebeb;

      &__heading {
        color: #377cff;
        padding: 5px 10px;
        cursor: pointer;
        margin: 0 !important;
        position: relative;

        &:after {
          position: absolute;
          right: 10px;
          top: 11px;
          content: "";
          display: inline-block;
          border-right: 2px solid #377cff;
          border-bottom: 2px solid #377cff;
          width: 5px;
          height: 5px;
          transform: rotate(45deg);
          transition: all 333ms ease;
        }

        &.active {
          &:after {
            transform: rotate(-135deg);
          }
        }
      }

      &__content {
        display: none;

        .flex {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 10px;
        }

        &__item {
          position: relative;
          width: calc(50% - 10px);
          margin-bottom: 10px;

          &__input {
            margin: 0;
            width: 100%;
            outline: 0;
            height: auto;
            border: 0;
            background: transparent;
            border: 1px solid #d5d8dd;
            border-radius: 0;
            display: block;
            margin: 0;
            font-size: 14px;
            padding: 20px 10px 10px 10px;
            color: #19191a;
            transition: all 111ms ease;
            line-height: 17px !important;
          }

          &__unit {
            position: absolute;
            font-size: 9px;
            font-weight: bold !important;
            bottom: 3px;
            right: 40px;
            color: #377cff;
          }

          &__decrease {
            border: 1px solid #ddd;
            position: absolute;
            display: block;
            width: 25px;
            height: 25px;
            bottom: 0;
            right: 0;
            text-align: center;
            line-height: 20px;
            color: #ddd;
            cursor: pointer;
            user-select: none;
            background: white;
            margin: 0 !important;
          }

          &__increase {
            border: 1px solid #ddd;
            position: absolute;
            display: block;
            width: 25px;
            height: 25px;
            top: 0;
            right: 0;
            text-align: center;
            line-height: 20px;
            color: #ddd;
            cursor: pointer;
            user-select: none;
            background: white;
          }

          &__colour {
            border: 2px solid white;
            display: block;
            position: absolute;
            cursor: pointer;
            outline: 1px solid #ddd;
            right: 10px;
            width: 24px;
            height: 24px;
            bottom: 8px;
            $size: 10px;
            background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
              linear-gradient(135deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%),
              linear-gradient(135deg, transparent 75%, #ccc 75%);
            background-size: $size / 2 $size / 2;
            background-position: 0 0, $size / 4 0, $size / 4 $size / -4, 0px $size / 4;

            &__swatch {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: 0;
            }
          }

          &--select {
            label {
              position: absolute;
              font-size: 8px;
              font-weight: bold !important;
              top: 3px;
              left: 10px;
              color: #377cff;
            }
          }

          &--colour {
            label {
              position: absolute;
              font-size: 8px;
              font-weight: bold !important;
              top: 3px;
              left: 10px;
              color: #377cff;
            }
          }

          &--number {
            label {
              position: absolute;
              font-size: 8px;
              font-weight: bold !important;
              top: 3px;
              left: 10px;
              color: #377cff;
            }

            input {
              margin: 0;
              width: 100%;
              outline: 0;
              height: auto;
              border: 0;
              background: transparent;
              border: 1px solid #d5d8dd;
              border-radius: 0;
              display: block;
              margin: 0;
              font-size: 14px;
              padding: 20px 10px 10px 10px;
              color: #19191a;
              transition: all 111ms ease;
              line-height: 17px !important;
            }
          }
        }
      }
    }

    &__button {
      border: 0;
      font-weight: bold !important;
      color: white;
      border-radius: 0;
      background: #377cff;
      float: right;
      margin: 20px 5px;
      padding: 10px 30px;
      outline: 0;
      cursor: pointer;
      margin-right: 10px;
      margin-left: auto;
      position: relative;
      transition: all 222ms ease;
    }
  }
}

/*
Page loader
 */
$dot-size2: 6px;

.type__button__loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-80%);
  text-align: center;
  margin-top: -5px auto 0;
  opacity: 0;
  transition: all 222ms ease;

  &__dot {
    display: inline-block;
    width: $dot-size2;
    height: $dot-size2;
    background-color: white;
    border: 0;
    border-radius: 100rem;
    margin: 0 1px;
    animation-name: wave2;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.64, 0.12, 0.79, 0.35);
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }

  &__shadows {
    position: absolute;
    display: block;
    width: 100%;
    animation-name: opa;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 1.3rem;

    &__shadow {
      display: inline-block;
      text-align: center;
      margin: 0 1px;
      border-radius: 50%;
      opacity: 0.5;
      width: $dot-size2;
      height: 5px;
      background-color: rgba(black, 0.12);
      animation-name: strech;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.64, 0.12, 0.79, 0.35);
      animation-iteration-count: infinite;
      animation-direction: alternate;

      &:nth-child(2) {
        animation-delay: 0.3s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }
    }
  }
}

@keyframes strech {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes wave2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY($dot-size2 * 1.5);
  }
}

.typeBusy {
  .type__button__loader {
    opacity: 1;
  }

  .type__button {
    color: #377cff !important;
  }
}
